     
<div class="jumbotron">
  <h1 class="display-4">Bienvenido</h1>
  <p class="lead">Sistema de Gestion de Prestamos de Libros</p>
  <hr class="my-4">
  <p>La Libreria de Ely</p>
  <a class="btn btn-primary btn-lg" href="/libros/todosloslibros" role="button">Dashboard</a>
</div>