<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h2>Editar Libro</h2>
        </div>
        
        <div class="card-body">
            <form action="/libros/editarlibro/{{mislibros.nombre}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group my-2">
                    <input type="text" 
                        name="nombre" 
                        class="form-control" 
                        placeholder="Nombre del Libro"
                        value="{{mislibros.nombre}}">
                </div>
                <div class="form-group my-2">
                    <input type="text"
                        name="autor"
                        class="form-control"
                        placeholder="Autor del Libro"
                        value="{{mislibros.autor}}">
                </div>
                <br>
                <form action="/libros/editarlibro/{{mislibros.nombre}}?_method=PUT" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <button type="submit" class="btn btn-success btn-block form-control">
                        Editar Libro
                    </button>
                </form>
                
            </form>
        </div>
        
    </div>
</div>
