<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h2>Libro Registrado</h2>
        </div>
        <div class="card-body">
            <h2>El libro se ha <strong>REGISTRADO</strong> correctamente</h2>
             <button class="btn btn-primary btn-block my-3 nav-link" href="/libros/todosloslibros">ACEPTAR</button>
        </div>
    </div>
</div>