<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h2>Registrar Nuevo Libro</h2>
        </div>
        <div class="card-body">
            <form action="/libros/libronuevo" method="POST">
                <div class="form-group my-2">
                    <input type="text" 
                        name="nombre" 
                        class="form-control" 
                        placeholder="Nombre del Libro" autofocus>
                </div>
                <div class="form-group my-2">
                    <input type="text"
                        name="autor"
                        class="form-control"
                        placeholder="Autor del Libro">
                </div>
                <div class="form-group my-2">
                    <button class="btn btn-primary btn-block">Registrar Libro</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

